@import 'bootstrap-4.4.1/scss/bootstrap'

// Font
$font-family-sans-serif: Roboto

// Colors  
$black: #000000
$red: #eb3b2d
$gray: #EEEEEE
$light-gray: #FAFAFA
$dark-gray: #363A45
$yellow: #FFCC29

.bg-red
  background-color: $red

.bg-light-gray
  background-color: $light-gray

body
  font-family: $font-family-sans-serif

.white
  color: $white

.yellow
  color: $yellow

#banner
  @extend .bg-red
  @extend .white

#banner a
  font-weight: bolder

#banner > div
  background-image: url('images/screenshot.webp')
  background-repeat: no-repeat
  background-position-x: 100%
  background-position-y: -145%
  padding-bottom: 40px

#download-1
  margin-top: 30px

#logo
  margin-top: 90px

#logo img
  width: 87%

#say-hello
  @extend .font-weight-bold
  margin-top: 80px
  font-size: 4rem

#v4b
  margin-top: 75px

#v4b .col-7
  font-size: 1em

#threeb a
  color: $black !important
  font-weight: bolder

#group
  margin-top: 85px

#group img
  width: 100%

#borrow
  margin-top: 120px

#borrow img
  width: 100%

#buy
  margin-top: 120px

#buy img
  width: 100%

#build 
  margin-top: 120px

#build img
  width: 100%

#believe
  @extend .bg-red
  @extend .white
  margin-top: 170px
  padding-top: 110px
  padding-bottom: 100px
  
#believe a
  @extend .white

#believe p
  margin-top: 50px
  font-size: 2.25rem

.category
  @extend .shadow-sm
  @extend .rounded-lg
  height: 370px
  background-color: $white
  border: 1px solid $gray
  padding-top: 15px

.category-blank
  height: 300px
  border: 1px solid $light-gray

.category h3
  color: $red
  font-size: 1.2em
  font-weight: bold

.category p
  font-size: 1em

#categories
  margin-top: 75px

#categories p:nth-child(1)
  font-size: 25px

#categories .row
  margin-top: 1rem

#logos
  margin-top: 125px

.logo
  margin-top: 125px

#app-store h2
  @extend .font-weight-bold
  font-size: 3em

#our-story
  @extend .bg-red
  padding-top: 85px
  padding-bottom: 100px

#our-story a
  color: $white
  font-size: 1.3em

#our-story h2
  @extend .font-weight-bold
  color: $white
  font-size: 4.5rem

#newsroom
  background-color: #363A45
  padding-top: 85px
  padding-bottom: 100px

#newsroom a
  @extend .white
  font-size: 1.3em

#newsroom h2 
  @extend .yellow
  @extend .font-weight-bold
  font-size: 4.5rem
  
#links
  background-color: #EAEFF2
  padding-top: 70px
  padding-bottom: 100px

#links a
  color: #2D2D2D
  line-height: 2em

#links .col-4 > div
  margin-left: 10px

#links .col-4 h3
  margin-top: 20px

#links .col-8 .row:nth-child(2)
  margin-top: 20px

#links h2
  font-size: 1.4em

#links h3
  @extend .font-weight-bold
  font-size: 1em

#links ul
  list-style: none
  padding-left: 0

#links a
  font-size: .9em

#address
  margin-top: 25px

#address p
  margin-top: 20px
  font-size: 1em

#follow-us
  margin-top: 25px


#follow-us h2
  font-size: 1.2em !important

#country
  margin-top: 60px

#footer
  @extend .white
  background-color: $dark-gray
  padding-top: 35px
  padding-bottom: 35px

#footer a
  @extend .white